*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(IMG/artwork_fantasy_Art_forest_Trees_Nature_Water_Art.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed ;
    color: #b0b0b0;
    background-color: #000000b6;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px  #000000;
    
}
main{
    margin: 20px;
    padding-top: 15px;
}

ul{
    list-style: none;
}
.navbar{
    background-color: #2b2b2b98;
    box-shadow: 3px 3px 5px #00000088;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

nav li{
    font-size: 1.5rem;
    height: 50px;
}

nav li:first-child{
    margin-right: auto;
    padding-left: 30px;
}

nav li:nth-child(2){
    font-size: 2rem;
}

.nav_items,a{
    text-decoration: none;
}

nav a:hover,
    :focus{
    text-decoration: underline #b0b0b0;
}

.nav_items{
    color: #b0b0b0;
    display: flex;
    padding: 0 30PX;
    align-items: center;
    height: 100%;
    text-decoration: none;
}


.a_color a{
    color: #b0b0b0;
}

.a_color a:hover{
    text-decoration: underline;
}
a{
    color: #35b5ff;
}

a:hover{
    color: #99daff;
}
